table{
    width:400px;
    border:1px solid grey;
    background:#a4c47c;
    margin:auto;
}
.nechet{
  background:#f2f1ed;  
}
.chet{
  background:#dce8b7;
}
td,th{
    padding:2px;
    text-align: center;
}
.ro{
   font-weight:normal;
   text-align:left;
   padding-left: 10px; 
}
.header{
    background:#9ca880;
    border:1px solid grey;
    font-size: 45px;
    height:90px;
    padding-left: 700px;
    margin-bottom:15px;
}
.nav{
    background:#f2f1ed;
    text-align: center;
    width:960px;
    margin:auto;
}
.footer{
   background:#96a381;
    border:1px solid grey;
    font-size: 20px;
    height:80px; 
}
.div{
    margin-bottom:15px;
    padding:15px;
}
.logo{
    float:left;
    margin-right: 25px;
}
